.navigation {
    &__list {
        display: flex;
        gap: 20px 50px;
        &_column-mob {
            flex-direction: column;
        }
    }
}

@media (min-width: 560px) {
    .navigation {
        &__list {
            &_column-mob {
                flex-direction: row;
            }
        }
    }
}

@media (min-width: 1024px) {
    .navigation {
        &__list {
            gap: 84px;
        }
    }
}

